* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

/* Header */
.header .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 20px 5px;
    font-family: 'fontbase';
    color: #222;
}
.header .subtitle {
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
    font-family: 'fontbase';
    font-size: 20px;
    font-weight: 400;
    color: #555;
}

/* Content */

.content {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.content .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    width: 100%;
    max-width: 800px;
}

article {
    width: calc(50% - 40px);
}
article .title {
    font-size: 'fontbase';

}
.image {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: all 300ms ease-in-out;
}
article:hover .image {
    margin-top: 30px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.25);
}
.image img {
    width: 100%;
    height: auto;
}
article .title {
    display: inline-block;
    padding: 15px 10px 0px;
    font-size: 24px;
    color: #222;
    transition: 300ms color;
}
article .title:hover {
    color: rgb(41, 52, 102);
}
article .subtitle {
    padding: 0 12px;
    font-size: 16px;
    color: #222;
}