@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background: linear-gradient(180deg, #858CEA, #CECDF3);
    color: #333;
    font-family: 'fontbase', Helvetica, sans-serif;
}
.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.follow-me {
	margin-top: 20px;
	padding: 8px 10px;
	border: 0;
	display: flex;
	justify-content: center;
	border-radius: 5px;
	text-decoration: none;
	background: #ddd;
	color: #333;
}
.icon {
	margin-right: 5px;
	width: 16px;
}
.counter, .counter span {
	font-size: 24px;
}
.counter {
	display: flex;
	width: auto;
}
.countdown {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
	width: auto;
	height: 32px;
	font-weight: bold;
	overflow: hidden;
}
.countdown span {
	margin-left: 5px;
	animation: moveY 5s ease-in-out infinite;
}
@keyframes moveY {
	0%, 28% {
		transform: translateY(0);
	}
	33%, 61% {
		transform: translateY(-38px);
	}
	66%, 94% {
		transform: translateY(-76px);
	}
	100% {
		transform: translateY(-114px);
	}
}